:root {
    --primary-dark: #271c19;
    --primary-light: #fef6e4;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    max-width: 1400px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    padding: 1em;
    text-align: center;
    font-size: 12px;
}

.add-background {
    background-color: var(--primary-light);
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh repeat(7, auto);
    grid-template-areas:    "hero"
                            "offer"
                            "contact-info"
                            "therapy-desc"
                            "cbt"
                            "schemat"
                            "about-me"
                            "photo";
    margin: 0;
    width: 100%;
}

.hero {
    position: relative;

    grid-area: hero;
    padding: 1em;
    background-image: url("images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    line-height: 1.15;
    color: var(--primary-dark);
}

.hero.responsive header {
    display: none;
}

.hero.responsive .nav-menu-open {
    display: none;
}

.hero.responsive .nav-menu-exit {
    position: absolute;
    z-index: 10;
    top: 43px;
    right: 1em;
    display: initial;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}

.hero.responsive .nav__desktop-view {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(254, 246, 228, 0.80);
    font-weight: 800;
}

.nav__desktop-view {
    display: none;
}

.nav__mobile-view {
}

.nav-menu-open {
    position: absolute;
    top: 43px;
    right: 1em;
    font-size: 30px;
    cursor: pointer;
}

.nav-menu-exit.fas {
    display: none;
}

.about {
    grid-area: about;
    align-self: center;
}

.photo-wrapper {
    grid-area: photo;
    place-self: center;
}

.photo {
    margin-top: 52px;
    width: 100%;
    object-fit: cover;
}

.offer {
    grid-area: offer;
    margin-top: 1.5em;
    padding: 0 2em;
}

.therapy-desc {
    grid-area: therapy-desc;
    margin-top: 2.5em;
    margin-bottom: 1.3em;
    padding: 0 1em;
}

.about-me__title {
    margin-top: 2.5em;
    margin-bottom: 2.3em;
    padding: 0 1em;
}

.main-title {
    border-bottom: 1px solid var(--primary-dark);
    letter-spacing: 2px;
    font-size: 21px;
    font-weight: 600;
}

.therapy1 {
    grid-area: cbt;
    align-self: center;
    margin-bottom: 2.5em;

}


.therapy2 {
    grid-area: schemat;
    align-self: center;
    margin-bottom: 2.5em;

}

.about-me {
    grid-area: about-me;
}



.info {
    grid-area: contact-info;
    margin-top: 1.5em;
    padding: 0 1em;
}

.cert {
    grid-area: cert;
    align-self: center;
}

.card {
    border: 1px solid var(--primary-dark);
    padding: 1em;
    height: 3em;
}

.card__title {
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 600;
}

.add-margin {
    margin-bottom: 30px;
}

.block {
    padding: 1em;
}


.sticky-wrapper {
    transform: translateX(-50%);
    margin-left: 50%;
    width: 100%;
}

.sticky {
    position: fixed;
    bottom: 1em;
    right: 1em;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
}


.bold {
    font-weight: 600;
}

@media only screen and (min-width: 1000px) {

    .header {
        margin-top: 150px;
    }

    .header__title {
        font-size: 60px;
    }

    .header__subtitle {
        font-weight: lighter;
    }

    .grid-container {
        grid-template-columns: calc(50% - 0.5em) calc(50% - 0.5em);
        grid-template-rows: 100vh auto auto auto auto;
        grid-template-areas:    "hero hero"
                            "offer contact-info"
                            "therapy-desc therapy-desc"
                            "cbt schemat"
                            "about-me photo";
        grid-gap: 1em;
        box-sizing: border-box;
    }

    .hide {
        display: none;
    }

    .section-style.desktop {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1400px;
        height: 100vh;
        background-color: rgba(254, 246, 228, 0.97);
        overflow-x: hidden;
    }

    .section-style {
        height: 5em;
        cursor: pointer;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .section-style.desktop h3 {
        display: none;
    }

    .section-style.desktop p {
        display: block;
    }

}